# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2021-2026 DALICC - Verein zur Foerderung der Rechtssicherheit in der Datenbewirtschaftung (ZVR 1249185710)
# Fallback configuration for the DALICC reasoner.
#
# Environment variables always win over this file; the file itself is optional.
#   DALICC_SPARQL_ENDPOINT        overrides sparql_endpoint
#   DALICC_DEPENDENCY_GRAPH       overrides dependency_graph
#   DALICC_REASONER_RESTRICT_GRAPHS  set to true to add FROM clauses to the licence query
#   DALICC_LICENSE_LIBRARY_GRAPH     first FROM graph (only with the flag above)
#   DALICC_CUSTOM_LICENSES_GRAPH     second FROM graph (only with the flag above)
[DEFAULT]
sparql_endpoint = http://virtuoso-db:8890/sparql
dependency_graph = https://dalicc.net/dependencygraph/dg_default
